* {
    box-sizing: border-box;
}

body {
    margin: 30px 90px;
    background-image: url('./фон.jpg');
    background-color: #8db8f6;
} 

header {
    background-color: #2a1b2f;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

header a {
    color: rgb(197, 167, 241);
    text-decoration: none;
    margin: 0 50px;
    font-size: larger;
}

h1 {
    color: purple; 
    font-family: "Pacifico", cursive;
    text-align: center; 
    color: rgb(153, 51, 153); 
    font-family: "Pacifico", cursive; 
    left: 50%; /*отн середины экрана */
    transform: translateX(-50%); /* свдиг на половину его ширины */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: aliceblue;
}

body::before {
    content: "";
    display: block;
    height: 50px; 
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap; /*выстраивание элементов по порядку*/
    align-items: flex-start; /* вертикальное выравнивание отн верхней границы */
    gap: 20px; /* отступы между элем*/
    padding: 20px;
    background-color: rgba(146, 104, 210, 0.554); 
    background-image: url('./фон2.jpg');
    border-radius: 15px;
    border: 3px solid purple;
}

div > img { 
    display: block;
    border: 5px dashed #ff00dd; /*hex*/
    border-radius: 5em;
    width: 75%;
    flex: 1; 
    /* max-height: 350px; */
}

.krich { 
    text-align: center;
    color: hsl(300, 100%, 20%);
    font-size: 3vw;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

.s {
    font-weight: 200;
    color: darkmagenta;
    background-color: plum;
    text-align: right;
    font-size: 2rem;
    line-height: 2em;
    border-radius: 1.5cm;
    padding: 1ch;
    position: relative;
    left: 80px;
    margin: 30px 90px;
}

a[href^="http://"] { 
    font-size: larger;
    font-weight: 300;
    font-family: "Audiowide", sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: hsla(322, 21%, 56%, 1);
}

a:visited {
    color: yellow;
}

a:hover {  
    color: blue;
}

a:active {
    color:aquamarine;
    transition: color 0.3s ease;
}

.text {
    text-align: justify;
    line-height: 1.5;
    font-family: "Trirong", serif;
    font-size: 1.2em;
    color: rgba(47, 37, 50, 1);
}

#fakultety-i-instituty { 
    position: absolute;
    right: 5px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: #660066;
}

div li { 
    color: #660066;
    font-size: 2em;
    line-height: 1.5em;
    padding-left: 60px;
    height: 80px;
    max-height: 100px;
}

li::before { 
    content: "🌸 ";
}

ul {
    max-width: 1000px;
    margin: auto;
}
figure {
    text-align: center;
    background-color: palevioletred;
    border-radius: 5em;
    height: 50em;
    width: 85em;
    border: 5px solid blueviolet;
    overflow: hidden;
    margin: 30px 90px;
}

figure img{
    width: 120%;
    height: 120%;
    border-radius: 5em;
    object-fit: cover; /*исходя из своих пропорций*/
    object-position: left top;
}

figcaption {
    font-size: 14px;
    color: purple;
    text-align: center;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #660066;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #cb67e7;
    border-radius: 50%;
    animation: zagr 2s linear infinite, scritie 2s linear 2s forwards;
    position: absolute; 
}

.content {
    opacity: 0;
    text-align: center;
    animation: poyavlenie 2s linear 2s forwards;
}

@keyframes zagr {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes scritie {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes poyavlenie {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
