body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(200, 158, 221);
}

header {
    background-color: #2a1b2f;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

header a {
    color: rgb(197, 167, 241);
    text-decoration: none;
    margin: 0 50px;
    font-size: larger;
}

header a:hover {
    color: blueviolet;
    text-decoration: underline;
}

header a:active {
    color:aliceblue;
}

header a:focus {
    background-color: #f19ad8;
    color: #2c0435;
}

h1 {
    text-align: center;
}

::selection {
    background-color: #84199d; 
    color: pink; 
    cursor: copy;
}

main {
    margin: 40px;
}

form {
    background-color: lavender;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 3px solid purple;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    color: #2c0435;
    font-size: larger;
}

label.ra {
    margin: 10px 0px 5px;
    display: inline-block;
}

label {
    display: block; /*на всю ширину*/
    margin: 10px 10px 5px;
}

input[type="radio"] {
    width: 1%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #f19ad8;
    border-radius: 4px; 
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #f19ad8;
    border-radius: 4px;
    box-shadow: 1px -1px 77px -8px rgba(72, 39, 236, 0.88);
}

input::placeholder, select::placeholder {
    color:darkslateblue;
    font-style: italic;
    font-size: 1em;
}

input:focus::placeholder, select:focus::placeholder {
    color: #2c0435;
    font-style: normal;
}

input[required], select[required] {
    border: 2px solid red;
}

input[type="radio"]:checked + label{
    text-decoration: line-through;
    color: red;
}

button {
    background-color: plum;
    color: purple;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3em;
}

button:hover {
    background-color: #2c0435;
    transform: translateY(-10px);
}

button:active {
    background-color: pink;
}

button:focus {
    text-decoration: underline;
}
footer {
    text-align: center;
    background-color: #2a1b2f;
    color: rgb(197, 167, 241);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: larger;
}
